:root {
  /* BLACK - GRAY */
  --gray-900: #121212;
  --gray-800: #171717;
  --gray-700: #202020;
  --gray-600: #2f2f2f;
  --gray-500: #818181;
  --gray-400: #d3d3d3;

  /* WHITE */
  --white: #ffffff;

  /* COLORED */
  --red: #c50000;
  --orange: #ef4423;
  --yellow: #ff9526;

  /* LAYOUT */
  --aside-width: calc(100% / 4);
  --main-width: calc(100% - var(--aside-width));
}

/* CUSTOM SCROLL BAR */
::-webkit-scrollbar {
  width: 0.65rem;
  height: 0.65rem;
}

::-webkit-scrollbar-corner {
  background-color: var(--gray-900);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-700);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-600);
}

* {
  color: var(--white);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--gray-900);
}

aside {
  width: var(--aside-width);
  height: 100%;
  float: left;
  padding: 2rem 1.5rem;
  overflow-x: scroll;
  background-color: var(--gray-800);
}

aside hr {
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid var(--gray-600);
}

aside > p {
  font-weight: 700;
  font-size: 1.5rem;
}

aside a.allGames {
  display: block;
  color: var(--yellow);
  margin: 1.5rem 0;
}

aside ul.genres {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside ul.genres .genre {
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}

aside ul.genres .genre a {
  display: flex;
  align-items: center;
}

aside ul.genres .genre:hover {
  transition: background-color 0.1s ease-in-out;
  background-color: var(--gray-700);
}

aside ul.genres .genre img {
  width: 45px;
  height: 45px;
  margin-right: 0.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

aside ul.genres .genre p {
  margin: 0;
}

main {
  width: var(--main-width);
  height: 100%;
  float: right;
  padding: 2rem 1.5rem;
  overflow-x: scroll;
}
